<!DOCTYPE html>
<html>
  <head>
    <title>Burger Time!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery.js"></script>
  </head>
  <body>
    <div>
      <img width="250" src="https://creazilla-store.fra1.digitaloceanspaces.com/emojis/57976/hamburger-emoji-clipart-md.png"/>
    </div>
    {{{body}}}
  </body>
</html>
