<h1>Eat-Da-Burger!</h1>
<p>Enter a burger you would like to eat:</p>
<input type="text" id="new-burger"></input>
<br><br>
<button id="submitBtn" type="submit" class="waves-effect waves-light btn">Submit</button>
<br><br>
<div class="row">
  <div class="col s12 m6">
    <p>not eaten</p>
    <ul>
      {{#each burgers}}
        {{#unless consumed}}
          {{> eatburger}}
        {{/unless}}
      {{/each}}
    </ul>
  </div>
  <div class="col s12 m6">
    <p>eaten</p>
    <ul>
      {{#each burgers}}
        {{#if consumed}}
        <li>
          {{burger_name}}
        </li>
        <br>
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>